a {
	text-decoration: none;
	display: block;
}

.btn {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 0.5rem 2rem;
	width: fit-content;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	line-height: 33px;
	letter-spacing: 0px;
	border-radius: 100px;
	cursor: pointer;
}

.btn-main,
.wp-block-button a {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: $white;
	background-color: $main_color;
	padding: 0.75rem 3rem;
	border-radius: 4px;
	&:hover {
		background-color: lighten($main_color, 10%);
	}
}

.btn-link {
	position: relative;
	font-weight: 400;
	font-size: 16px;
	line-height: 155%;
	color: #6371f0;
	width: fit-content;
	&::after {
		content: "";
		position: absolute;
		right: -1.5rem;
		top: calc(50% - 5px);
		width: 15px;
		height: 10px;
		background-image: url("assets/images/arrow-right-blue.svg");
		background-repeat: no-repeat;
		background-size: contain;
		transition: all 0.3s;
	}
	&:hover {
		&::after {
			right: -2.5rem;
		}
	}
}

.btn-link-blue {
	font-weight: 400;
	font-size: 24px;
	line-height: 145%;
	color: #4851c8;
}
.btn-link-black {
	font-weight: 400;
	font-size: 24px;
	line-height: 145%;
	color: #242533;
}
