footer {
    padding: 3rem 0 6rem;
    background-color: #f6f6f6;
    .w-5 {
        padding-right: 2rem;
    }
    .site-branding {
        height: auto;
        max-width: 180px;
        margin: 1.5rem 0;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .menu-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 180%;
        color: #242533;
        margin-bottom: 0.25rem;
    }
    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 180%;
                color: #484964;
                &:hover {
                    transform: translateX(10px);
                    color: $main_color;
                }
            }
        }
    }
    #sm-menu {
        li {
            a {
                position: relative;
                width: fit-content;
                &::after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    right: -1.5rem;
                    top: 0.3rem;
                    background-image: url('assets/images/arrow-up-right2.svg');
                    background-size: contain;
                }
            }
        }
    }
}