.page-template-thank-you {
    #demo_calendly {
        padding-top: 100px;
        background: linear-gradient(90deg, rgba(234,235,249,1) 70%, rgba(255,255,255,1) 70%);
        margin-bottom: 6rem;
        iframe {
            margin-top: -3rem;
            min-height: 1200px;
            position: relative;
            right: -6rem;
        }
        .content{
            width: calc(100% + 150px);
        }
    }
}


// Responsive
@media (max-width: 768px) {
    .page-template-thank-you {
        #demo_calendly {
            padding-top: 50px;            
            margin-bottom: 14rem;
            iframe {
                margin-top: 0;
                right: 0;
            }
            .content{
                width: 100%;
            }
        }
    }
}