// Products Page
.page-template-evarec {
    h1,
    h2,
    h3,
    h4,
    h5 {
        span {
            background: linear-gradient(126.24deg, #4ca796 1.63%, #7ddfb6 42.6%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    .explore-sec {
        .box {
            width: 49%;
        }
    }
}

// General
.page-template-evarec,
.page-template-home {
    // Awards Section
    .awards-sec {
        .box {
            padding: 0.25rem;
            .box-wrapper {
                background: #f6f6f6;
                border-radius: 6px;
                padding: 2rem;
                height: 100%;
            }
            .logo {
                width: 150px;
                height: auto;
                margin: 1rem 0;
                object-fit: contain;
            }
            .year {
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                color: #5b5da6;
                margin: 0;
            }
            .name {
                font-weight: 400;
                font-size: 14px;
                line-height: 155%;
                color: #484964;
                margin: 0.5rem 0 0;
            }
            &.big-box {
                .box-wrapper {
                    background-image: url("assets/images/awards-bg.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding: 2rem;
                    .logo {
                        width: auto;
                        height: 140px;
                    }
                    .year {
                        font-weight: 400;
                        font-size: 58px;
                        line-height: 110%;
                        color: #ffffff;
                    }
                    .name {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 155%;
                        color: #ffffff;
                        padding: 1rem 0 8rem;
                    }
                }
            }
        }
    }
}

// Three Column
.three-col {
    .boxes {
        .box {
            position: relative;
            padding: 1rem 3rem 1rem 2rem;
            margin: 1rem 0;
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 3px;
                background: linear-gradient(128.86deg, #4ca796 11.22%, #91f1c9 96.07%);
                top: 0;
                left: 0;
            }
            .title {
                font-weight: 700;
                font-size: 20px;
                line-height: 145%;
                margin: 0;
                color: #242533;
            }
            .content {
                font-weight: 400;
                font-size: 20px;
                line-height: 145%;
                color: #242533;
                margin: 0;
            }
        }
    }
}

// Product Header
.product-header-sec {
    position: relative;
    height: 100vh;
    background: linear-gradient(90deg, #ffffff 30%, #d9f5f0 30%);
    margin-bottom: 100px;
    .logo {
        max-width: 200px;
        height: 55px;
        object-fit: contain;
    }
    .content {
        padding-right: 3rem;
    }
    .subtitle {
        font-weight: 400;
        font-size: 24px;
        line-height: 145%;
        color: #484964;
    }
    .small-title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 155%;
        color: #808192;
    }
    .image {
        height: 100%;
        img {
            position: absolute;
            right: 0;
            top: 10%;
            height: 80%;
            width: auto;
            object-fit: contain;
            box-shadow: 0px 54px 80px rgba(0, 0, 0, 0.06);
            backdrop-filter: blur(21.5px);
            border-radius: 6px;
            background: rgba(253, 253, 255, 0.3);
        }
    }
}

// content-image-accordion-sec
.content-image-accordion-sec {
    background: linear-gradient(90deg, #ffffff 50%, #99d3c9 50%);

    &.left-image {
        background: linear-gradient(90deg, #d9f5f0 50%, #ffffff 50%);
        .d-flex {
            flex-direction: row-reverse;
        }
        .content-side {
            padding-right: 0;
            padding-left: 7rem;
        }
        .image {
            padding-left: 0;
            padding-right: 3rem;
        }
    }
    &.blue {
    }

    .content-side {
        padding-right: 11rem;
    }
    .image {
        padding-left: 3rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.accordion-wrapper {
    .accordion-container {
        border-top: 1px solid #d9d7d75c;
        position: relative;
        z-index: 1;
        &::after {
            content: "\f078";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            right: 1rem;
            top: 15px;
            color: #242533;
            width: 24px;
            height: 20px;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            pointer-events: none;
        }
        .title {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #242533;
            background: transparent;
            border: none;
            outline: 0;
            display: block;
            padding: 1rem 0;
            width: 100%;
            cursor: pointer;
            text-align: left;
        }
        .content {
            font-weight: 400;
            font-size: 16px;
            line-height: 155%;
            color: #808192;
            max-height: 0;
            visibility: hidden;
            margin: 0;
            padding-right: 4rem;
        }
        &.active {
            border-top: 2px solid #aacae8;
            &::after {
                transform: rotate(-180deg);
            }
            .content {
                padding: 0 0 2rem;
                padding-right: 4rem;
                visibility: visible;
                max-height: 1000px;
            }
        }
    }
}
@media (max-width: 768px) {
    .accordion-container {
        .accordion-header {
            padding-right: 2rem;
            &::after {
                font-size: 20px;
            }
            i {
                padding-right: 0.5rem;
                padding-left: 0rem;
            }
        }
    }
}

// Signed offers section
.signed-offers-sec {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    max-height: 100vh;
    .container {
        .image {
            img {
                position: absolute;
                width: auto;
                height: 100%;
                left: 3rem;
                bottom: -4.3rem;
                object-fit: contain;
            }
        }

        .content {
            padding: 12rem 3rem;
        }
    }
}

// progress-analytics-sec
.progress-analytics-sec {
    .tabs {
        .tab {
            font-weight: 500;
            font-size: 19px;
            line-height: 100%;
            color: #9fa0b0;
            border: none;
            border-bottom: 2px solid transparent;
            padding: 2rem;
            cursor: pointer;
            outline: 0;
            background-color: transparent;
            i {
                font-size: 20px;
                padding-right: 0.5rem;
                pointer-events: none;
            }
            &:hover,
            &.active {
                border-bottom: 2px solid #242533;
                color: #242533;
            }
        }
    }

    .tabs-wrapper {
        .tabs-container {
            background: #d9f5f0;
            border: 1px solid #d9f5f0;
            border-radius: 1px;
            padding: 3rem 5rem 0;
            display: none;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                margin: auto;
            }
            &.active {
                display: block;
            }
        }
    }
}
