@-webkit-keyframes goRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes slideUp {
    from {
        transform: translateY(150%);
    }
    to {
        transform: translateY(0);
    }
}
@-webkit-keyframes slideDown {
    from {
        transform: translateY(-150%);
    }
    to {
        transform: translateY(0);
    }
}
@-webkit-keyframes slideLeft {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0);
    }
}
@-webkit-keyframes slideRight {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes img {
    0%{
        object-position: left;
        transform: scale(1.1);
    }
    25%{
        object-position: center;
        transform: scale(1.05);
    }
    50%{
        object-position: right;
        transform: scale(1.1);
    }
    75%{
        object-position: center;
        transform: scale(1.05);
    }
    100%{
        object-position: left;
        transform: scale(1.1);
    }
}

.animation {
    .text-animation {
        overflow: hidden;
        .animat {
            transition: all 1s;
            &.up {
                transform: translateY(150%);
            }
            &.down {
                transform: translateY(-150%);
            }
            &.to-left {
                transform: translateX(-150%);
            }
            &.to-right {
                transform: translateX(150%);
            }
            &.reset {
                transform: translate(0) !important;
            }
            &.repeat-up {
                animation: slideUp 1s ease-in-out;
                animation-iteration-count: 1;
            }
            &.repeat-down {
                animation: slideDown 1s ease-in-out;
                animation-iteration-count: 1;
            }
            &.repeat-left {
                animation: slideLeft 1s ease-in-out;
                animation-iteration-count: 1;
            }
            &.repeat-right {
                animation: slideRight 1s ease-in-out;
                animation-iteration-count: 1;
            }
        }
    }
}


.img-animation{
    overflow: hidden;
    .left-to-right{
        animation: img 80s ease-in-out infinite;
        transition: all 0s ease-in-out;
    }
}


@-webkit-keyframes rotate {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0);
    }
}

@-webkit-keyframes hand {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(-10px , -10px);
    }
    100% {
        transform: translate(0);
    }
}