// Responsive
@media (max-width: 768px) {
    .landing-advanced-hiring-platform {
        .header-sec {
            height: auto;
            margin-bottom: 0;
            h1 {
                font-size: 38px;
                line-height: 120%;
            }
            .row-1 .image img {
                width: 100%;
                height: auto;
                top: 0;
                display: none;
            }
            .row-2 {
                .image img {
                    width: 100%;
                    height: auto;
                    top: 0;
                    left: 0;
                    display: none;
                }
                .content {
                    padding-left: 0;
                }
            }
        }
        .advanced-sec {
            .right-side {
                padding-left: 0;
                order: 1;
            }
            .left-side {
                order: 2;
            }
            .boxes .box {
                width: 100%;
            }
        }
    }

    .landing-hiring-platform {
        .header-sec {
            height: auto;
            h1{
                font-size: 34px;
                line-height: 120%;
            }
            img {
                display: none;
            }
        }

        .features-sec {
            .boxes .box {
                width: 100%;
            }
        }

        .recruit-list-sec {
            background-position: right;
            .content {
                padding: 0;
            }
            .list .row {
                width: 100%;
                white-space: inherit;
            }
        }
    }
    .company-logos {
        h2 {
            text-align: center;
        }
        .logos {
            justify-content: center;
            .w-6 {
                width: 50% !important;
                margin: 1rem 0;
                img {
                    padding: 1rem 2rem 1rem;
                }
            }
        }
    }


    .gdpr-sec {
        padding: 3rem 0;
        .content {
            padding-right: 0;
        }
        .image {
            padding-left: 0;
        }
        img {
            width: 100%;
            padding: 2rem;
        }
    }

    .landing .form-sec {
        padding: 3rem 0;
        height: auto;
        .form-wrapper {
            padding: 1rem 2rem;
            width: 100%;
        }
    }

    .testimonial-sec {
        height: auto;
        .testimonials-slider {
            padding-top: 6rem;
            .slide .content p {
                font-size: 24px;
            }
        }
    }
}
